body{
    background-color: rgb(192, 184, 161);
    position: relative;
}

.logo{
    height: 5em;
}



.conf{
    border: none;
}

.ordem{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.barra{
    display: none;
    width: 70%;
    height: 3px;
    position: absolute;
    left: 15%;
    bottom: -10px;
    background-color: rgba(201, 250, 121, 0.801);
}

.ordem:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 15%;
    background-color: rgba(201, 250, 121, 0.801);
    width: 0;
    height: 3px;
    transition: 0.1s;
}

.ordem:hover:after{
    width: 70%;
}

img{
    width: auto;
    height: auto;
}

.logoFooter{
    height: 45px;
    width: 45px;
}

.formulario{
    border-radius: 15px;
    box-shadow: 1px 1px 10px 4px rgb(2, 8, 54);
    margin-bottom: 50px;
    background-color: white;
}

.cabecalho{
    border-radius: 10px 10px 0px 0px;
}

.biruta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alinhamento{
    
    text-align: left;
}
.exit{border: none;
    background-color: transparent;
}
.input-quest{
    
    
    background-color:rgb(192, 184, 161);
    border: none;
    border-radius: 3px;
    height: 50px;
}
.cadastro{
    border-radius: 10px;
}


 @media(max-width: 576px){
        .logo{
       height: 100%;
        width: 100%;
    }
}

@media(min-width: 768px){
        .logo{
             height: 90%;
            width: 90%;
     }
}

@media(max-width: 768px){
    .formulario{
        width: 80vw;
        
    }
}
@media(min-width > 768px){
        .formulario{
             width: 80vw;
        
        }
}