body{
    background-color: rgb(192, 184, 161);
}

.logo{
    height: 5em;
}

.conf{
    border: none;
}

img{
    width: auto;
    height: auto;
}

.logoFooter{
    height: 45px;
    width: 45px;
}

.formulario{
    border-radius: 15px;
    box-shadow: 1px 1px 10px 4px rgb(2, 8, 54);
    margin-bottom: 50px;
    background-color: white;
}

.cabecalho{
    border-radius: 15px 15px 0px 0px;
}

.biruta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alinhamento{
    
    text-align: left;
}

 @media(max-width: 576px){
    .logo{
       height: 100%;
        width: 100%;
    }
}

@media(min-width: 768px){
    .logo{
        height: 90%;
        width: 90%;
    }
}

@media(max-width: 768px){
    .formulario{
        width: 80vw;
        
    }
}
@media(min-width: > 768px){
    .formulario{
        width: 80vw;
        
    }
}