body{
    background-color: rgb(192, 184, 161);
}

.logo{
    height: 100px;
}

.conf{
    border: none;
}

img{
    width: auto;
    height: auto;
}

.logoFooter{
    height: 45px;
    width: 45px;
}

